* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	-webkit-overflow-scrolling: touch;
}

html,
body,
#app {
	width: 100%;
	height: 100%;
	word-break: break-all;
}

a img,
img {
	border: 0;
	max-width: 100%;
	vertical-align: top;
}

ul,
li,
dl {
	list-style: none;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

/*去除一些浏览器给标签加的特定样式*/

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type='button'],
input[type='submit'],
input[type='reset'] {
	-webkit-appearance: none;
}

button {
	-webkit-appearance: none;
	border: 0;
	user-select: none;
}

textarea {
	-webkit-appearance: none;
}

input:-moz-placeholder {
	color: #aab2bd;
}

::-webkit-input-placeholder {
	color: #aab2bd;
}

button:focus,
input:focus {
	outline: none;
}

/* 统一字体颜色定义 */

/* 公共链接样式 */

a,
a:link,
a:visited,
a:hover {
	vertical-align: top;
	/*font-size: 0.28rem;*/
	text-decoration: none;
}

/* 正文使用 */

.color-gray-333 {
	color: #333;
}

/* 提示性文字,次要信息 */

.color-gray-666 {
	color: #666;
}

/* 不可点击,禁用等 */

.color-gray-999 {
	color: #999;
}

/* 主色调 */

.color-blue-4886ff {
	color: #4886ff;
}

/*兑奖状态的几种颜色*/

.color-award-blue {
	color: #20a0ff;
}

.color-award-green {
	color: #13ce66;
}

.color-award-yellow {
	color: #f7ba2a;
}

/* 边框色值 */

.border-gray-dfe6ec {
	border-color: #dfe6ec;
}

/* 统一字体添加间距 */

[class^='hi-'],
[class*=' hi-'] {
	margin: 0 4px;
}

.clearfix {
	zoom: 1;
	display: table;
}

.clearfix:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}

/* 禁止选择 */

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* 文字单行显示，多余部分省略号 */

.limit {
	white-space: nowrap;
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
}

/* 自定义动画 */

/* 渐隐渐显动画 */

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

/* 缩放 */

.scale-enter-active,
.scale-leave-active {
	transition: transform 0.5s;
}

.scale-enter,
.scale-leave-to {
	transform: scale(0.5, 0.5);
}

/* 全局弹窗处理 */

.modal-mask {
	position: absolute;
	z-index: 20;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	font-size: 0.28rem;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.18s ease-in-out;
}

/*简单提示tip*/

.tip-box {
	min-width: 1.5rem;
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
	color: #fff;
	border-radius: 0.1rem;
	padding: 0.3rem 0.4rem;
}

/* 文字单行显示，多余部分省略号 */
.limit {
	white-space: nowrap;
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
}

/* 使默认光标选中后placeholder隐藏 */
input:focus::-webkit-input-placeholder {
	text-indent: -999em;
	z-index: -20;
}

textarea:focus::-webkit-input-placeholder {
	text-indent: -999em;
	z-index: -20;
}